@import 'breakpoints';
@import 'colors';

.mobile-menu {

  background-color: white;
  z-index: 9999;

  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  transition: transform .5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40rem;
  min-height: 100vh;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoint-med-up {
    height: 20rem;
  }

  &.open {
    width: 100%;
    //min-height: 100vh;
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }

  &.false {
    transform: translate3d(100vw, 0, 0);
    min-height: 0;
    height: 0;
    overflow: hidden;
  }

  .mobile-menu__close-btn {
    padding: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: red;
    }
  }

  .mobile-menu__nav-list {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    height: 100vh;
    padding-top: 12rem;
    padding-top: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .mobile-menu__nav-link {
      margin-bottom: 4.43rem;

      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: $contact_me_button;
      }

      &.bottom-link {
        margin-bottom: 10rem;
        margin-bottom: 33%;
      }
    }
  }
}
