@import 'breakpoints';

.landing-page {
  min-height: 100vh;
  padding: 0 2.43rem 5rem;

  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

  @include breakpoint-med-up {
    padding: 0 2.75rem 8rem;
  }

  .blob_yellowish {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    @include breakpoint-med-up {
      margin-top: -1rem;
    }

    @include breakpoint-lg-up {
      margin-top: -6.5rem;
    }
  }

  .blob_pinkish {
    margin-top: 12rem;
    position: absolute;
    right: 0;

    z-index: 0;

    @include breakpoint-med-up {
      margin-top: 14rem;
    }

    @include breakpoint-lg-up {
      margin-top: 12rem;
      margin-right: -3rem;
    }
  }

  .blob_blueish {
    margin-top: 36rem;
    position: absolute;
    left: 0;

    z-index: 0;

    @include breakpoint-med-up {
      margin-top: 32rem;
    }

    @include breakpoint-lg-up {
      margin-top: 28rem;
      margin-left: -4rem;
    }
  }

  .landing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    z-index: 1000;

    .intro-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;

      @include breakpoint-lg-up {
        padding-top: 0;
        margin-top: -2rem;
      }

      .intro-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2.25rem;
        height: 9.5rem;
        //line-height: 3rem;

        display: flex;
        flex-direction: column;

        @include breakpoint-med-up {
          font-size: 3rem;
          height: 10rem;
          line-height: 3.5rem;
        }
      }

      .intro-sub {
        font-family: 'Merriweather', serif;
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 3.75rem;

        @include breakpoint-med-up {
          font-size: 1.675rem;
          margin-top: -.5rem;
          margin-bottom: 3rem;
        }

        @include breakpoint-lg-up {
          margin-bottom: 1.75rem;
        }
      }

      .intro-desc {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        //max-width: 85%;
        margin-top: 1.25rem;

        @include breakpoint-med-up {
          max-width: 80%;
          font-size: 1rem;
          margin-top: 2rem;
        }

        @include breakpoint-lg-up {
          max-width: 60%;
          margin-top: 1rem;
        }
      }
    }

    .intro__social {
      width: 100%;
      margin: 4rem auto 2rem;

      @include breakpoint-med-up {
        margin: 3rem auto 2rem;
      }

      @include breakpoint-lg-up {
        margin: 1.75rem auto .875rem;
      }
    }

    .intro__button-container {
      width: 100%;
      display: flex;
      justify-content: center;

      @include breakpoint-med-up {
        //margin-top: -4rem;
      }
    }
  }
}
