.scroll-top {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;

  .arrow {
    padding: 0.5rem 1rem;
    text-align: center;

    .to-top {
      text-align: center;
      font-size: 0.5rem;
      padding: 0.25rem;
    }
  }
  .hide {
    display: none;
  }
}
