@import 'breakpoints';

$border-radius: 2px;

.portfolio-item {
  width: 12rem;
  height: 25rem;
  border-radius: $border-radius;
  margin: 2rem auto;
  transition: box-shadow 0.25s;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px -2px rgba(0, 0, 0, 0.2);


  @include breakpoint-sm-down {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
  }

  &__container {
    height: 60%;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:hover .image {
      opacity: 0.3;
    }

    &:hover .overlay {
      opacity: 1;
    }

    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: 100%;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;

      .overlay__icon {
        color: grey;
        font-size: 16px;
        padding: 16px 32px;
      }
    }

  }

  &__description {
    font-family: 'PT Sans', sans-serif;
    
    height: 33%;
    padding: 1.5rem .5rem;
    margin-top: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 1.125rem;
    }

    .desc {
      padding: 1rem 1.5rem;
      font-size: .875rem;
      text-align: center;
    }
  }

}
