$breakpoints: (
  'xsmall'  : 0px, // mobile-m max=375px
  'small'  : 376px, // mobile-l max=425px
  'medium' : 615px, // tablet max=768px
  'large'  : 825px, // laptop-m max=1024px => ipad pro falls under this
  'xlarge'  : 1025px, // laptop-l max=1440px
  'xxlarge'  : 1440px, // 4k max=2560px
  'xxxlarge': 2560px
);

@mixin breakpoint-sm-down {
  $max-value: map-get($breakpoints, medium) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-sm-up {
  $min-value: map-get($breakpoints, small);

  @media (min-width: $min-value) {
    @content;
  }
}


@mixin breakpoint-med-up {
  $min-value: map-get($breakpoints, medium);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-lg-up {
  $min-value: map-get($breakpoints, large);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-xl-up {
  $min-value: map-get($breakpoints, xlarge);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-xxl-up {
  $min-value: map-get($breakpoints, xxlarge);

  @media (min-width: $min-value) {
    @content;
  }
}
