@import 'breakpoints';

.new-home-page {
  min-height: 100vh;
  padding: 0 2.43rem;

  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

  .blob_yellowish {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;
  }

  .blob_pinkish {
    margin-top: 12rem;
    position: absolute;
    right: 0;

    z-index: 0;
  }

  .blob_blueish {
    margin-top: 36rem;
    position: absolute;
    left: 0;

    z-index: 0;
  }

  .new-home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    z-index: 1000;

    .new-intro-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;

      .new-intro-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 2.625rem;
        height: 153px;
        line-height: 3rem;

        display: flex;
        flex-direction: column;
      }

      .new-intro-sub {
        font-family: 'Merriweather', serif;
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 3.75rem;

        @include breakpoint-lg-up {
          margin-bottom: 1.75rem;
        }
      }

      .new-intro-desc {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        //margin: 0 10%;

        @include breakpoint-med-up {
          max-width: 90%;
        }

        @include breakpoint-lg-up {
          max-width: 60%;
        }

      }
    }

    .new-intro__social {
      width: 100%;
      margin: 4rem auto;

      @include breakpoint-lg-up {
        margin-top: 2rem;
      }
    }

    .new-intro__button-container {
      width: 100%;
      display: flex;
      justify-content: center;

      @include breakpoint-med-up {
        margin-top: -4rem;
      }
    }
  }
}
