@import 'breakpoints';

.about-page {
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-sm-down {
    padding-top: 3rem;
  }

  h1 {
    font-size: 3rem;
    padding: 1rem 0;
  }

  .content-grid {
    flex: auto;
  }

  .about-wrapper {

    margin-top: 3rem;

    .about-content {
      font-size: 0.875rem;
      line-height: 1.5rem;

      @include breakpoint-sm-down {
        font-size: 1rem;
      }

      p {
        font-weight: 400;
        padding: .5rem 0;
      }

      .text-emoji {
        text-align: center;
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }
}
