@import 'breakpoints';

.about-page {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  background-color: rgba(	0, 131, 167, 1);
  color: '#f6f6f6';
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-sm-down {
    padding-top: 3rem;
  }

  h1 {
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: 200;
    color: red;
  }

  .content-grid {
    flex: auto;
  }

  .about-wrapper {

    margin-top: 3rem;

    .about-content {
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 0.95rem;
      line-height: 1.5rem;

      @include breakpoint-sm-down {
        font-size: 1.125rem;
      }

      p {
        padding: .5rem 0;
      }

      .resume {
        align-self: center;
        font-weight: 500;
        color: white;

        &:hover {
          color: rgba(240, 0, 0, .9);
          cursor: pointer;
        }
      }


    }
  }
}
