@import 'breakpoints';

.projects-page {
  min-height: 100vh;
  padding-top: .125rem;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-sm-down {
    padding-top: 3rem;
  }

  h1 {
    font-size: 3rem;
    padding: 1rem 0;
  }



  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0 4rem;

    @include breakpoint-sm-down {
      flex-direction: column;
      align-items: center;
    }
  }
}
