.landing-nav {
  width: calc(100% + 2.6rem);
  height: 4rem;
  margin: 0 -2.75rem 0 0;


  display: flex;
  justify-content: flex-end;
  align-items: center;

  .landing-nav__list {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .875rem;
    width: 22rem;
    padding-right: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .landing-nav__list-item {
      transition: all .3s ease;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}
