@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.not-found-404 {
  max-height: 100vh;
  padding: 1rem 3rem;

  display: flex;
  flex-direction: column;

  @include breakpoint-med-up {
    padding: 4.5rem 6rem;
  }

  @include breakpoint-lg-up {
    padding: 5rem 20%;
  }

  .not-found-404__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    width: 100%;
    margin: 0;

    @include breakpoint-med-up {
      font-size: 1.5rem;
    }


    &.purple-bold {
      color: $purplish;
      margin-top: 7rem;
      margin-bottom: .25rem;
    }
  }
}
