@import 'breakpoints';

.home-page {

  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  color: '#f6f6f6';
  font-family: 'Poppins', sans-serif;
  font-weight: 200;



  .home-wrapper {
    padding: 3rem 1rem 1rem;
    margin-bottom: 5rem;

    @include breakpoint-sm-down {
      padding: 4rem 1.5rem 1rem;
    }

    .intro-wrapper {
      display: flex;
      flex: auto;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      > .intro-name {
        font-size: 4rem;
        line-height: 4rem;
        padding-bottom: 1rem;

        @include breakpoint-sm-down {
          font-size: 3rem;
          line-height: 3.5rem;
        }
      }

      > .intro-sub {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        font-weight: lighter;

        @include breakpoint-sm-down {
          font-size: 1.25rem;
        }
      }
    }
  }
}
