@import 'breakpoints';

.home-page {
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;


    @include breakpoint-sm-down {
      padding: 4rem 1.5rem 4rem;
    }

    .intro-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;

      > .intro-name {
        font-size: 4.5rem;
        line-height: 4rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;

        @include breakpoint-sm-down {
          font-size: 3rem;
          line-height: 3.5rem;
        }
      }

      > .intro-sub {
        font-size: 3.5rem;
        padding-bottom: 1rem;

        @include breakpoint-sm-down {
          font-size: 2rem;
        }
      }

      > .intro-desc {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        font-weight: lighter;
        text-align: center;

        @include breakpoint-sm-down {
          font-size: 1.25rem;
        }
      }
    }

    .intro__social {
      width: 100%;
      margin: 4rem auto;
    }

    .intro__button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
